  .modal-content{
    background-color: rgb(33, 33, 33);
  }
  
  .judul-1 h1{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 40px;
  }
  
  .judul-1 p{
    font-size: 12px;
    color: white;
    padding-left: 20px;
  }
  
  .img-judul img{
    width: 120px;
    padding-right: 10px;
  }
  
  .fa.fa-exclamation-circle{
    color: #d6d6d6;
  }

  label{
    color: white;
  }
  
  
  input[type="text"] {
    border-radius: 120px;
    border: 1px solid rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
  }

  input[type="number"] {
    border-radius: 120px;
    border: 1px solid rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
  }

  select.form-control {
    border-radius: 120px;
    border: 1px solid rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
  }
  
  .cancel{
    border: 1px solid white;
    color: white;
    border-radius: 120px;
    font-weight: bolder;
  }
  
  .submit{
    border: none;
    background: blue;
    font-weight: bolder;
    color: white;
    border-radius: 120px;
  }
  
  .modal-footer{
    border: none;
    padding-bottom: 25px;
  }